<template>
  <div>
    <Carousel v-if="enableCarousel" :options="options" :slides="slides">
      <div slot-scope="{slide}" class="slide">
        <slot :slide="slide"/>
      </div>
    </Carousel>

    <div v-for="(slide, key) in slides" v-else :key="key">
      <slot :slide="slide"/>
    </div>
  </div>
</template>

<script>
const Carousel = () =>
  import(/* webpackChunkName: "carousel" */ '@/components/Carousel.vue');

export default {
  components: {
    Carousel,
  },

  props: {
    options: {
      default() {
        return {};
      },
      type: Object,
      required: false,
    },
    slides: {
      type: Array,
      required: true,
    },
    responsive: {
      type: Boolean,
      required: false,
      default: false,
    },
    breakpoint: {
      type: [Number, String],
      required: false,
      default: 765,
    },
  },

  computed: {
    enableCarousel() {
      if (this.responsive) {
        return parseInt(this.breakpoint, 10) >= window.innerWidth;
      }
      return true;
    },
  },
};
</script>

<style lang="scss">
.slide {
  min-height: 10rem;
}

#app .swiper-button-prev,
#app .swiper-button-next {
  top: 50%;
  transform: translateY(-100%);
  height: 1.75rem;
}

/* #app .swiper-container {
  padding: 0 3rem;
} */

// #app .swiper-button-prev {
//   left: .9rem;
// }

// #app .swiper-button-next  {
//   right: .75rem;
// }

</style>
