<template>
    <div v-if="CheckListData" class="checklist">
        <div class="col_3">
            <a :href="CheckListData.boys.url">
                <ImgModule :srcs="CheckListData.boys.images"></ImgModule>
                <TextModule class="list-cta" :text="CheckListData.boys.cta"></TextModule>
            </a>
        </div>
        <div class="col_3">
            <TextModule class="essential-title" :text="CheckListData.title"></TextModule>
            <CtaModule :ctaContent="CheckListData.links"></CtaModule>
        </div>
        <div class="col_3">
            <a :href="CheckListData.girls.url">
                <ImgModule :srcs="CheckListData.girls.images"></ImgModule>
                <TextModule class="list-cta" :text="CheckListData.girls.cta"></TextModule>
            </a>
        </div>
    </div>
</template>

<script>
import ImgModule from './ImgModule.vue';
import CtaModule from './CtaModule.vue';
import TextModule from './TextModule.vue';

export default {
  name: 'CheckList',
  components: {
    ImgModule,
    CtaModule,
    TextModule,
  },
  props: {
    CheckListData: Object,
  },
};
</script>

<style lang="scss" scoped>
    .checklist {
        display: none;
        padding: 3rem 2rem;
        background: #eff3f2;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (min-width: 767px) {
            display: flex;
        }

        .col_3 {
            width: 33.33%;
            display: block;
            float: left;

            a {
                width: 100%;
                display: block;
                text-decoration: none;

                img {
                    width: 100%;
                    padding: 8%;
                    margin-top: 16%;
                }
                .list-cta {
                    width: 100%;
                    display: block;
                    background: #000;
                    color: #fff;
                    text-decoration: none;
                    padding: 3% 0;
                    margin: 0;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .list-title {
                width: 60%;
                margin: 6% auto 0;
                display: block;
            }
        }
        .essential-title {
            margin-top: 0;
            margin-bottom: 1rem;
            text-align: center;
            font-size: 3vw;
            line-height: 3vw;
            font-weight: 900;
            font-family: "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
            letter-spacing: -1px;

            @media (min-width: 1725px) {
                font-size: 2vw;
                line-height: 2.3vw;
            }
        }
    }
</style>
<style lang="scss">
    .checklist {
        .ctas__container {
            .cta__link {
                width: 85%;
                margin: .2rem;
                padding: .5rem 0;
            }
        }
    }
</style>
