<template>

    <div class="getSize">
        <div class="container container--size-form">
            <div class="size-container">
                <h1 class="title">
                    Size Recommendation
                </h1>

                <form class="size-form">
                    <div class="size-form__dropdown">

                <select v-model="selected" id="size-select" class="size-form__dropdown__select">
                    <!-- eslint-disable-next-line -->
                    <option v-for="(option, key) in sizeGuide.options" :key="key" v-bind:value="option.ukSize">
                        <!-- {{ option.cmSize }} -->
                        {{ option.cmSize }}
                    </option>
                </select>

                    </div>
                    <div class="size-form__button-container">
                        <!-- eslint-disable-next-line -->
                        <input type="button" value="Get Size" class="size-form__button size-form__button--submit" v-on:click="getSize()">
                    </div>
                </form>
            </div>
        </div>

        <div class="container container--size-results">
            <!-- eslint-disable-next-line -->
            <div v-bind:class="{ 'size-form__result--active': isActive, 'size-form__result': notActive }">
                <span class="size-form__result__title">{{ selectedResultTitle }}</span>
                <span class="size-form__result__size">{{ selectedUkSize }}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'GetSize',
  props: {
    sizeGuide: Object,
  },
  data() {
    return {
      selected: '',
      selectedResultTitle: '',
      selectedUkSize: '',
      isActive: false,
      notActive: true,
      options: this.sizeGuide.options,
    };
  },
  methods: {
    getSize() {
      const sizes = this.selected.split(' ', 3);
      this.selectedResultTitle = `${sizes[0]} ${sizes[1]}`;
      this.selectedUkSize = ` ${sizes[2]}`;
      this.isActive = true;
      this.notActive = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.container.container--size-form {
    background: #eff3f2;
    padding: 2rem 10% 0 10%;
    display: inline-flex;
    width: 100%;
    @media (max-width: 767px){
        width: 100%;
    }
}
.size-form__dropdown {
    background: #e6e6e6 url(https://jdsports-client-resources.co.uk/jdsports-client-resources/img/2017/1215/expand-button-839618155d73e8695d83148eb8f59588.svg) no-repeat 95%;
    background-size: 12px;
    grid-column: span 2;
    margin-bottom: .5rem;
}
#size-select {
    background: transparent;
    border: 0;
    color: #36333d;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    height: 100%;
    padding: 0 0.5rem;
    width: 100%;
    z-index: 1;
    @media (max-width: 767px) {
      padding: 0.7rem 0.5rem;
    }
}

#size-select:after {
    content: "\F078";
    font-family: FontAwesome;
    position: absolute;
    right: 1rem;
    text-align: right;
    top: 1rem;
    width: 100%;
}

.container.container--size-form .size-container{
    width: 100%;
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;

    @media (min-width: 767px) {
        display: flex;
    }
}
.container.container--size-form .size-container .title{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0rem;
    line-height: 36px;
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 767px) {
        margin-bottom: 0;
        text-align: left;
    }
}

.container.container--size-form .size-container .size-form{
    width: 100%;
    display: inline-block;

    @media (min-width: 767px) {
        display: flex;
    }
}

.container.container--size-form .size-container .size-form__dropdown{
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    background: #fff;

    @media (min-width: 767px) {
        margin-bottom: 0;
    }
}

.container.container--size-form .size-container .size-form__dropdown__select{
    width: 100%;
}

.container.container--size-form .size-container .size-form__button--submit{
    background-color: #36333d;
    border-color: transparent;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100%;

    @media (max-width: 767px) {
      padding: 10px 15px;
    }
}
.size-form__result{
    display: none;
}
.size-form__result--active{
    display: flex;
}
.container--size-results{
    background: #eff3f2;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.size-form__result__title{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 40px;
    margin-right: 1rem;
    text-align: center;
}
.size-form__result__size{
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    padding: .3rem .5rem;
    margin: 0 auto;
    text-align: center;
    width: 90px;
}
</style>
