<template>
    <div v-if="srcs" class="img-container">
    <picture>
        <source :srcset="srcs.mobile" media="(max-width: 765px)">
        <img class="img_path" :src="srcs.desktop">
    </picture>
    </div>
</template>

<script>
export default {
  name: 'ImgModule',
  props: {
    srcs: Object,
  },
};
</script>
<style lang="scss" scoped>
    picture {
        width: 100%;
    }

    .img-container {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        display: flex;
        background-color: #e8e8e8;
        position: relative;
    }

    .img_path {
        display: block;
        width: 100%;
        height: auto;
    }
</style>
