<template>
    <div v-if="splitData" class="split-container" :class="splitData.position">
        <div class="split-ctas">
            <TextModule :text="splitData.title"></TextModule>
            <CtaModule :ctaContent="splitData.ctas"></CtaModule>
        </div>
        <div class="split-image">
            <ImgModule :srcs="splitData.images"></ImgModule>
        </div>
    </div>
</template>


<script>
import ImgModule from './ImgModule.vue';
import CtaModule from './CtaModule.vue';
import TextModule from './TextModule.vue';

export default {
  name: 'Split',
  components: {
    ImgModule,
    CtaModule,
    TextModule,
  },
  props: {
    splitData: Object,
  },
};
</script>
<style lang="scss" scoped>
    .split-container {
        display: flex;
        margin: 2rem 0;

        &.right {
            flex-direction:  row;

            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
        }
        &.left {
            flex-direction:  row-reverse;

            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
        }
        @media (max-width: 767px) {
            flex-direction: column-reverse;

        }
    }

    .split-ctas {
        display: flex;
        flex: .5;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .text{
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: .5rem;
        }

        @media (max-width: 767px) {
            margin-top: 2rem;
        }
    }

    .split-image {
        flex: 1;
    }

    .split-container .ctas__container {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;

        @media (max-width: 1100px) {
            width: 70%;
        }
    }

    .img-container {
        padding-bottom: 58.2%;

        @media (max-width: 767px) {
            padding-bottom: 83%;
        }
    }
</style>
