<template>
    <div class="tabbed__container">

        <div class="tabbed-header">
            <TextModule :text="tabbedContent.title"></TextModule>
            <div class="tabs__container">
                <span class="tab" v-for="(tab, key) in tabbedContent.tabs" :key="key"
                v-on:click="changeTab(key)" :class="`tab-${key}`">{{ tab.title }}</span>
            </div>
            <CtaModule class="desktop-cta" :ctaContent="tabbedContent.ctas"></CtaModule>
        </div>

        <div class="tab__content">

            <Carousel :options="options" :slides="tabbedContent.tabs[currentTab].slides">
                <a class="slide__container" slot-scope="{slide}" :href="slide.url">
                    <ImgModule :srcs="slide.image"></ImgModule>
                    <!-- <div class="c-container">
                        <ctaModule :ctaContent="slide.ctas"></ctaModule>
                    </div> -->
                    <TextModule :text="slide.text"></TextModule>
                </a>
            </Carousel>


            <CtaModule class="mobile-cta" :ctaContent="tabbedContent.ctas"></CtaModule>
        </div>

    </div>

</template>

<script>
import $ from 'jquery';
import Carousel from '../containers/Carousel.vue';
import ImgModule from './ImgModule.vue';
import CtaModule from './CtaModule.vue';
import TextModule from './TextModule.vue';

export default {
  name: 'Tabbed',
  components: {
    Carousel,
    ImgModule,
    CtaModule,
    TextModule,
  },
  data() {
    return {
      options: {
        slidesPerView: 3,
        spaceBetween: 20,
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
        // when window width is <= 320px
          767: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          520: {
            slidesPerView: 1,
            spaceBetween: 10,
          },
        },
      },
      currentTab: 0,
    };
  },
  props: {
    tabbedContent: Object,
  },
  methods: {
    changeTab(key) {
      this.currentTab = key;
    },
  },
};

$(document).on('click', '.tab', (e) => {
  const $this = $(e.target);
  $('.tab').removeClass('is-active');
  $this.addClass('is-active');
});

</script>
<style lang="scss" scoped>
    .tabbed__container{
        background: #f2f2f2;
        padding: 0 3rem 3rem 3rem;

        @media (max-width: 767px){
            padding: 0 3rem 1rem 3rem;
        }

        .desktop-cta{
            display: flex;
            @media (max-width: 780px){
                display: none;
            }
        }
        .mobile-cta{
            display: none;
            @media (max-width: 767px){
                display: flex;
                margin-top: 1rem;
            }
        }
        .tabbed-header{
            display: flex;
            justify-content: space-between;

            @media (max-width: 780px){
                display: inline-block;
                max-width: 100%;

                .tabs__container{
                    padding-top: 0;
                    display: flex;
                    width: 100%;
                }
                .text{
                    line-height: 65px;
                }
            }
            .text {
                line-height: 80px;
                font-size: 1.3rem;
                font-weight: 700;
            }
            .cta-text {
                line-height: 20px;
            }
            .ctas__container {
                margin-top: 12px;
                max-height: 56px;
            }
        }
    }
    .tabs__container {
        padding:2rem 0;
        .tab {
            padding-bottom: .4rem;
            background-color: transparent;
            border-bottom: 7px solid #ccc;
            border-right: none;
            font-size: 1rem;
            font-weight: 400;
            margin: 0 .2rem;
            max-width: 200px;
            padding: .5rem 2.5rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: border-color .25s;

            @media (max-width: 767px) {
                flex: 1;
                padding: .5rem 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }

            &.is-active{
                border-color: #000;
            }

            &:hover{
                border-color: #000;
            }
        }
    }
    .slide__container{
        text-decoration: none;
        .text{
            padding: 1rem;
            background: #fff;
            color: #000;
        }
    }
    .tab__content .swiper-slide {
        margin: 0 1rem;
    }
    .tab__content .swiper-slide:first-child {
        margin: 0 1rem 0 0;
    }
</style>
