<template>
    <p v-if="text" class="text" :class="type">{{ text }}</p>
</template>

<script>
export default {
  name: 'TextModule',
  props: {
    text: String,
    type: String,
  },
};
</script>


<style lang="scss">
.text {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .125rem;
  margin: .5rem auto;
  padding: .5rem;
}

.subtitle {
  font-size: 1.1rem;
  margin: .75rem auto;
}

.copy-text {
  font-size: 1rem;
  font-weight: 100;
  margin: 1rem;
}

.usp-text {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: .5rem;
}

.cta-text {
  font-size: 1.2rem;
  text-decoration: none;
  line-height: normal;
  margin: .001rem;
}
</style>
