<template>
  <div id="app">
    <MainBanner :mainBannerContent="content.main_banner"></MainBanner>
    <div class="c-container">
      <Split :splitData="content.split[0]"></Split>
      <Tabbed :tabbedContent="content.TabbedFilter"></Tabbed>
      <Split :splitData="content.split[1]"></Split>
      <CheckList :CheckListData="content.checklist"></CheckList>
      <GetSize :sizeGuide="content.sizeGuide"></GetSize>
    </div>
  </div>
</template>

<script>
import json from './json/content.json';
import MainBanner from './components/MainBanner.vue';
import Split from './components/Split.vue';
import Tabbed from './components/Tabbed.vue';
import CheckList from './components/CheckList.vue';
import GetSize from './components/GetSize.vue';

export default {
  name: 'App',
  components: {
    MainBanner,
    Split,
    Tabbed,
    CheckList,
    GetSize,
  },
  data() {
    return {
      jsonData: json,
      uatJSONLink:
        '//jdsports-client-resources.co.uk/jdsports-client-resources/back-to-school/vue/json/UAT/content.json',
      liveJSONLink:
        '//jdsports-client-resources.co.uk/jdsports-client-resources/back-to-school/vue/json/LIVE/content.json',
      localURL: 'localhost',
      uatURL: 'uatmesh',
      liveMESHURL: 'livemesh',
      liveURL: 'jdsports.',
      externalJSONData: {
        main_banner: {},
        split: {},
        checklist: {},
        TabbedFilter: {},
        sizeGuide: {},
      },
    };
  },
  computed: {
    content() {
      let contentToUse;

      if (window.location.href.indexOf(this.localURL) > -1) {
        contentToUse = this.jsonData;
      }
      // eslint-disable-next-line
      if (
        window.location.href.indexOf(this.uatURL) > -1 ||
        window.location.href.indexOf(this.liveURL) > -1 ||
        window.location.href.indexOf(this.liveMESHURL) > -1
      ) {
        contentToUse = this.externalJSONData;
      }

      return contentToUse;
    },
    serviceLink() {
      let serviceType;

      if (window.location.href.indexOf('localhost') === -1) {
        if (window.location.href.indexOf(this.uatURL) > -1) {
          serviceType = this.uatJSONLink;
        }
        // eslint-disable-next-line
        if (
          window.location.href.indexOf(this.liveURL) > -1 ||
          window.location.href.indexOf(this.liveMESHURL) > -1
        ) {
          serviceType = this.liveJSONLink;
        }
      }

      return serviceType;
    },
  },
  mounted() {
    if (window.location.href.indexOf('localhost') === -1) {
      fetch(this.serviceLink)
        .then(res => res.json())
        // eslint-disable-next-line
        .then(data => (this.externalJSONData = data))
        // eslint-disable-next-line
        .catch(err =>
          // eslint-disable-next-line
          console.info(
            "API doesn't exist. Please provide the correct API to render the page"));
    }
  },
};
</script>

<style lang="scss">
body{margin: 0;padding: 0;}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .c-container {
    @media (min-width: 767px){
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
</style>
